@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

html{
    overflow: hidden;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(to right, rgb(255,255,255),rgb(254,215,173));
}

nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 10rem;
}

.logo span{
    color: rgb(109,67,0);
    text-shadow: 0 0 10px rgb(109,67,0);
}

.hamburger, .cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    font-size: 2rem;
    display: none;
}

.nav-container .links{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-container .links a{
    position: relative;
    font-size: 1,2rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}

.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(109, 67, 0);
    transition: 0.2s linear;
}

.nav-container .links a:hover::before{
    width: 100%;
}

.nav-container .contact-btn{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid rgb(109,67,0);
    transition: 0.2s linear;
}

.nav-container .contact-btn a{
    color: white;
    transition: 0.3s linear;
}

.nav-container .contact-btn:hover, .nav-container .contact-btn:hover a{
    background-color: rgb(109,67,0);
    color: whitesmoke;
}

.nav-container .links a:hover{
    color: rgb(109,67,0);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    color: whitesmoke;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color: rgb(109,67,0);
}

.section{
    width: 100%;
    height: 90vh;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .image{
    z-index:-1 ;
    width: 40%;
    align-items: center;
    margin-left: 9rem;
}

.main-container .image img{
    justify-content: center;
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(235, 188, 137);
}

.main-container .content{
    color: black;
    width: 60%;
    min-height: 100px;
}


.content h1{
    font-size: clamp(1rem,2rem + 5vw,3rem);
}

.content h1 span{
    color: rgb(109,67,0);
    text-shadow: 0 0 10px rgb(109,67,0);
}

.content .typewriter{
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 5vw,2rem);
}

.content .typewriter span{
    color: rgb(109,67,0);
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgb(109,67,0);
    position: relative;
    transition: 0.3s linear;
}

.typewriter span::before{
    content: "Developer";
    animation: words 15s infinite;
}

.typewriter span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear infinite;
}

@keyframes cursor {
   to{
    border-left: 3px solid #b74b4b;
   }
}

@keyframes words{
    0%, 33%{
        content: "Developer";
    }
    34%, 66%{
        content: "Designer";
    }
    67%, 100%{
        content: "Student";
    }
}

.content p{
    font-size: clamp(0.4rem,0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(109,67,0);
    border-radius: 50%;
    color: rgb(109,67,0);
    font-size: 1.5rem;
    margin: 5px 10px;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: whitesmoke;
    background-color: rgb(109,67,0);
    filter: drop-shadow(0 0 10px rgb(109,67,0));
}

.content button{
    width: 250px;
    height: 50px;
    margin: 30px;
    background-color: rgb(109,67,0);
    color: whitesmoke;
    border: none;
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover{
    scale: 1.1;
    color: rgb(109,67,0);
    border: 2px solid rgb(109,67,0);
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px rgb(109,67,0);
}

@media (max-width:884px){
    body{
        overflow-y: auto;
    }
    .nav-container{
        position: relative;
        padding-bottom: 30px;
    }

    .logo{
        position: relative;
        right: 140px;
        font-size: 1.5rem;
    }

    .main-container .image img{
        margin-left: -5rem;
        width: 180px;
    }

    .main-container{
        display: flex;
        flex-direction: column;
    }

    .main-container .content{
        width: 270px;
        height: 600px;
    }
    .main-container .content{
        margin-right: 5px;
    }

    .main-container .content h1{
        font-size: 2rem;
        margin-left: 0.5rem;
    }
    .main-container .content .typewriter{
        font-size: 1.5rem;
        margin-left: 0.9rem;
    }
    
    .main-container .content .typewriter span{
        font-size: 1.5rem;
    }

    .main-container .content p{
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .nav-container .link{
        display: none;
    }

    .hamburger, .cancel{
        display: block;
    }
    
    .social-links i{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }
    

    .cancel{
        color: red;
    }
    
}